name: Publish Docker Image

on:
  push:
    branches: ['main']
    tags: ['v*']

env:
  GH_REGISTRY: ghcr.io
  GH_IMAGE_NAME: mnemosyne-artificial-intelligence/doppelganger
  # Docker Hub info
  D_HUB_REPO: mnemosyneai/doppelganger

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        # Only run if Docker Hub secrets are set
        if: "${{ secrets.DOCKERHUB_TOKEN != '' && (secrets.DOCKERHUB_USERNAME != '' || vars.DOCKERHUB_USERNAME != '') }}"
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME || vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          # This generates tags for both registries only if the Docker Hub token is available
          images: |
            ${{ env.GH_REGISTRY }}/${{ env.GH_IMAGE_NAME }}
            ${{ secrets.DOCKERHUB_TOKEN != '' && env.D_HUB_REPO || '' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
