name: Publish Docker Image

on:
  push:
    branches: ['main']
    tags: ['v*']

env:
  GH_REGISTRY: ghcr.io
  D_HUB_REPO: mnemosyneai/doppelganger

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      D_HUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      D_HUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME || vars.DOCKERHUB_USERNAME }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        if: env.D_HUB_TOKEN != ''
        uses: docker/login-action@v3
        with:
          username: ${{ env.D_HUB_USERNAME }}
          password: ${{ env.D_HUB_TOKEN }}

      # Build tags dynamically
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
            ${{ env.D_HUB_TOKEN != '' && env.D_HUB_REPO || '' }}
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}